<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax</title>
</head>
<body>
    <main class="container">
        <h1>Welcome to PetFax</h1>
        <section class="pets-container">
            {% for pet in pets %}
                <div class="pet">
                    <h2>{{ pet.pet_name }}</h2>
                    <img src="{{ url_for('static', filename='assets/') }}{{pet.pet_photo}}"/>
                </div>
            {% endfor %}
        </section>
    </main>    
</body>
</html>