<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Pets</title>
</head>
<body>
    <main class="container">
        <h1>Welcome to PetFax</h1>
        <section class="pets-container">
            {% for pet in pets %}
                <div class="pet">
                    <h2>{{ pet.pet_name }}</h2>
                    <img src="{{ pet.pet_photo}}" alt="Photo of Pet"/>
                    <a href="/pets/{{ pet.pet_id }}">See more...</a>
                </div>
            {% endfor %}
        </section>
        <a href="/facts/new">Submit a Fun Fact Here.</a>
    </main>    
</body>
</html>