<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Fun Facts</title>
</head>
<body>
    <section class="container">
        <h1>Submit Facts Below</h1>
        <div class="fact-container">
            <form>
                <label for="submitter">Name:</label>
                <input type="text" name="submitter">

                <label for="fact">Fact:</label>
                <textarea name="fact"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </section>
</body>
</html>